
@mixin backgroundColor {
    background-color:#2e2e2e;
}

@mixin fontHeading {
    font-family: workSansLight;
    color: #ebccc2;
    text-decoration: none;
    font-size: 2.5rem;
}

@mixin fontSubHeading {
    font-family: workSansLight;
    color: #ebccc2;
    text-decoration: none;
}

@mixin fontBody {
    font-family: workSansLight;
    color: #fff;
    opacity: 60%;
    text-decoration: none;
}

@mixin flexContainer {
    display: flex;
    align-items: center;
}

@mixin imgSizing {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@mixin button {
    border: 1px solid white;
    border-radius: 2px;
    padding: 1px;

}