/* ======== Imports ======== */
/* ======== Fonts ======== */
@font-face {
  font-family: workSansLight;
  src: url(../fonts/WorkSans-Light.ttf);
}
/* ======== gloabl settings ======== */
* {
  margin: 0;
}

.darkMode {
  background-color: antiquewhite;
}
.darkMode main h1 {
  color: #2e2e2e;
  opacity: 80%;
}
.darkMode main p, .darkMode h1, .darkMode h2 {
  color: #2e2e2e;
}
.darkMode header div a p {
  color: black;
  opacity: 100%;
}
.darkMode nav a {
  color: black;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  width: 1400px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

h2 {
  font-family: workSansLight;
  color: #ebccc2;
  text-decoration: none;
  font-size: 2.5rem;
}

h3 {
  font-family: workSansLight;
  color: #ebccc2;
  text-decoration: none;
}

p {
  font-family: workSansLight;
  color: #fff;
  opacity: 70%;
  text-decoration: none;
  line-height: 1.5em;
}

a {
  font-family: workSansLight;
  color: #fff;
  opacity: 70%;
  text-decoration: none;
}

/* ======== global header ======== */
.headerGlobal {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
}
.headerGlobal #logoContainer {
  width: 150px;
  height: 150px;
}
.headerGlobal #logoContainer #logo {
  width: 100%;
  height: 100%;
}
.headerGlobal div, .headerGlobal a, .headerGlobal p {
  display: flex;
  align-items: center;
  font-family: workSansLight;
  color: #fff;
  opacity: 70%;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

/* ======== navigation ======== */
.nav {
  position: fixed;
  top: 60px;
  width: 100px;
  margin-left: 50px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nav a {
  width: 100px;
  margin-top: 50px;
  font-family: workSansLight;
  color: #fff;
  opacity: 70%;
  text-decoration: none;
}
.nav :hover {
  opacity: 100%;
}

#navItemInspiration {
  opacity: 100%;
}

#navItemExperience {
  opacity: 100%;
}

#navItemLounger {
  opacity: 100%;
}

#navItemAbout {
  opacity: 100%;
}

#navItemShop {
  opacity: 100%;
}

/* ======== individual body heights ======== */
#bodyLounger {
  height: 100vh;
  background-color: #2e2e2e;
}

.bodyAbout {
  background-color: #2e2e2e;
  height: 200vh;
}

#bodyInspiration {
  height: 220vh;
  background-color: #2e2e2e;
}

#bodyExperience {
  background-color: #2e2e2e;
}

#bodyShop {
  background-color: #2e2e2e;
}

/* ======== About page main Element ======== */
.mainAbout {
  position: absolute;
  margin-top: 100px;
}
.mainAbout h1 {
  margin-top: 50px;
  margin-left: 400px;
  margin-bottom: 150px;
  font-family: workSansLight;
  color: #ebccc2;
  text-decoration: none;
  font-size: 2.5rem;
  width: 350px;
}
.mainAbout .imgAbout {
  margin-left: 48px;
  width: 93%;
}
.mainAbout .imgAbout img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainAbout .imgAbout article {
  display: flex;
  align-items: center;
  width: calc(100% - 200px);
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  height: 600px;
}
.mainAbout .imgAbout article figure {
  width: 500px;
  height: 380px;
}
.mainAbout .imgAbout article figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainAbout .imgAbout article div {
  margin-left: 60px;
  width: 600px;
}
.mainAbout .imgAbout article div h2 {
  /* @include fontHeading; */
  margin-bottom: 30px;
}
.mainAbout .imgAbout article div p {
  /* @include fontBody; */
}

/* ======== lounger page styling ======== */
/* container with background image */
.loungerContainer {
  position: absolute;
  background-image: url(../img/section-voyager.jpg);
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 100vh;
}

/* section containing text align on the right side */
.lounger {
  height: 70vh;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: flex-end;
}
.lounger div {
  width: 30%;
  margin-right: 100px;
}
.lounger div h2 {
  margin-bottom: 100px;
}
.lounger div p {
  line-height: 32px;
}

/* ======== experience page styling ======== */
/* container with background image */
.experienceContainer {
  position: absolute;
  background-image: url(../img/section-experience-1.jpg);
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 100vh;
}

/* section containing text align on the right side */
.experience {
  height: 70vh;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: flex-end;
}
.experience div {
  width: 30%;
  margin-right: 100px;
}
.experience div h2 {
  margin-bottom: 100px;
}
.experience div p {
  line-height: 32px;
}

/* ======== inspiration page styling ======== */
.mainInspiration {
  display: flex;
  justify-content: center;
  margin: 0;
}

.inspirationContent {
  margin-top: 200px;
  position: absolute;
  width: 800px;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 500px 300px 400px 400px;
}
.inspirationContent article:nth-of-type(1) {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-left: 50px;
  margin-right: 50px;
}
.inspirationContent article:nth-of-type(2) {
  grid-row: 2/3;
  grid-column: 1/2;
}
.inspirationContent article:nth-of-type(2) h2 {
  margin-bottom: 30px;
}
.inspirationContent article:nth-of-type(2) a {
  border: 1px solid white;
  border-radius: 2px;
  padding: 1px;
  margin-right: 8px;
  line-height: 25px;
}
.inspirationContent article:nth-of-type(2) p {
  margin-top: 8px;
}
.inspirationContent article:nth-of-type(3) {
  grid-row: 3/4;
  grid-column: 1/2;
}
.inspirationContent article:nth-of-type(3) figure {
  width: 400px;
  height: 400px;
}
.inspirationContent article:nth-of-type(3) figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.inspirationContent article:nth-of-type(4) {
  margin: auto auto auto 40px;
  grid-row: 3/4;
  grid-column: 2/3;
}
.inspirationContent article:nth-of-type(4) h2 {
  margin-top: 10px;
  margin-bottom: 30px;
}
.inspirationContent article:nth-of-type(5) {
  margin: auto 40px auto auto;
  grid-row: 4/5;
  grid-column: 1/2;
}
.inspirationContent article:nth-of-type(5) h2 {
  margin-top: 10px;
  margin-bottom: 30px;
}
.inspirationContent article:nth-of-type(6) {
  grid-row: 4/5;
  grid-column: 2/3;
}
.inspirationContent article:nth-of-type(6) figure {
  width: 400px;
  height: 400px;
}
.inspirationContent article:nth-of-type(6) figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ======== shop page styling ======== */
/* container with background image */
.shopContainer {
  position: absolute;
  background-image: url(../img/section-composition4.jpg);
  background-position: center;
  background-size: cover;
  width: 850px;
  height: 100vh;
}

/* section containing text and a image  */
.shop {
  position: absolute;
  top: 50px;
  height: 80vh;
  width: 400px;
  margin-left: 1000px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.shop div:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 200px;
}
.shop div:nth-of-type(2) p, .shop div:nth-of-type(2) a {
  margin-top: 10px;
  text-align: center;
  width: 150px;
}
.shop div:nth-of-type(2) a {
  border: 1px solid white;
  border-radius: 2px;
  padding: 1px;
}

/*# sourceMappingURL=style.css.map */
